@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("ttps://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  

}
body{
  height: 100%;
  width: 100%;
}

.byeScroll{
  overflow: hidden;
}

.reggae{
  font-family: 'Reggae One', cursive;
}

.cursive{
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.nav{
  z-index:2;
}

.home-name{
  
  font-size: 150px;
}
.text_marginb{
  margin-bottom: 4rem;
}
.text_margint{
  margin-top: 4rem;
}
.bg_transparent{
  background-color: rgba(255, 255, 255, 0.9);
}

.header-wrapper{
  position: relative;
  background: url(./DSC_0258.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.contactbackgroud{
  position: relative;
  background: url(./waterfall-192984.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.blur{

  backdrop-filter: blur(5px) ;
}


.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  z-index: 1;
  
}

.main-info  h1{
  color: orange;

}

@media(max-width:768px){
  .main-info  h1{
    font-size: 1.5rem !important;
  }

  .typed-text{
    font-size: 1.3rem !important;
  }

  .btn-contact-me{
    font-size: 1rem !important;
  }
}

.typed-text{
  font-size: 2rem;
  color: white;
}

.btn-contact-me{

  border: 1px solid #ef4035;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: white;
  font-size: 25px;
  margin: 2rem;
}

.btn-contact-me:hover{
  text-decoration: none;
  background-color: #ef4035;
  color: white;
  transition: .2s ease-in-out;
}

.tsparticles-canvas-el{

  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width:768px){
  .particles-canvas{
    display: none;
  }
}

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}
body::-webkit-scrollbar {
  width: 8px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}